[Unit]
Description=weather-logger
ConditionPathExists=/home/root/lichtschranke/scripts/weather.py

[Service]
Type=simple
WorkingDirectory=/home/root/lichtschranke/scripts
ExecStart=/usr/bin/python weather.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
